## .NET / C# / WPF
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
*.sln

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.nuget.cache
project.assets.json
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

## Visual Studio
.vs/
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
Generated_Code/

## Rider
.idea/

## VS Code
.vscode/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
